Colaveco/Service References/ServiceReference1/WSCargaRecuentos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="Workflow" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns1="Workflow" xmlns:wsdlns="Workflow" name="WSCargaRecuentos" targetNamespace="Workflow" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="Workflow">
      <xsd:complexType name="wsCargoRecuentos">
        <xsd:all>
          <xsd:element name="InstalacionID" type="xsd:long" />
          <xsd:element name="CodigoAccesso" type="xsd:string" />
          <xsd:element name="Recuentos" type="wsdlns:ColRecuentos" />
          <xsd:element name="Modo" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ColRecuentos">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="SDTRecuento_Item" type="wsdlns:SDTRecuento_Item" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SDTRecuento_Item">
        <xsd:all>
          <xsd:element name="TambCod" type="xsd:short" />
          <xsd:element name="RecuSem" type="xsd:byte" />
          <xsd:element name="RecuSemFch" type="xsd:date" />
          <xsd:element name="PruCod" type="xsd:byte" />
          <xsd:element name="Recuento" type="xsd:double" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="wsCargoRecuentos_Respuesta">
        <xsd:all>
          <xsd:element name="InstalacionID" type="xsd:long" />
          <xsd:element name="Errores" type="wsdlns:ColRecErrorCarga" />
          <xsd:element name="ErrCod" type="xsd:byte" />
          <xsd:element name="ErrDesc" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ColRecErrorCarga">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="SDTRecuentos_Error_Carga_Item" type="wsdlns:SDTRecuentos_Error_Carga_Item" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SDTRecuentos_Error_Carga_Item">
        <xsd:all>
          <xsd:element name="TambCod" type="xsd:short" />
          <xsd:element name="RecuSem" type="xsd:byte" />
          <xsd:element name="PruCod" type="xsd:byte" />
          <xsd:element name="Err_Codigo" type="xsd:byte" />
          <xsd:element name="Err_Descripcion" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:element name="WSCargaRecuentos.Execute">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Cargarrecuentos" type="wsdlns:wsCargoRecuentos" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="WSCargaRecuentos.ExecuteResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Cargarrespuesta" type="wsdlns:wsCargoRecuentos_Respuesta" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="WSCargaRecuentos.ExecuteSoapIn">
    <part name="parameters" element="wsdlns:WSCargaRecuentos.Execute" />
  </message>
  <message name="WSCargaRecuentos.ExecuteSoapOut">
    <part name="parameters" element="wsdlns:WSCargaRecuentos.ExecuteResponse" />
  </message>
  <portType name="WSCargaRecuentosSoapPort">
    <operation name="Execute">
      <input message="wsdlns:WSCargaRecuentos.ExecuteSoapIn" />
      <output message="wsdlns:WSCargaRecuentos.ExecuteSoapOut" />
    </operation>
  </portType>
  <binding name="WSCargaRecuentosSoapBinding" type="wsdlns:WSCargaRecuentosSoapPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="Execute">
      <soap:operation soapAction="Workflowaction/AWSCARGARECUENTOS.Execute" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="WSCargaRecuentos">
    <port name="WSCargaRecuentosSoapPort" binding="wsdlns:WSCargaRecuentosSoapBinding">
      <soap:address location="http://mail.ecolat.com:8098/extranetpd/servlet/awscargarecuentos" />
    </port>
  </service>
</definitions>